.loginContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f2f5;
}

.loginWrapper {
  width: 350px;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.loginWrapper h2 {
  text-align: center;
  color: #333;
}

.lInput {
  height: 50px;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
  font-size: 16px;
}

.lButton {
  height: 50px;
  border: none;
  background-color: #0071c2;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.lButton:disabled {
  background-color: #a1c7e0;
  cursor: not-allowed;
}